@charset "UTF-8";

/* Light theme color */
$light-background: #eff1f5;
$light-background-secondary: #ccd0da;
$light-background-header: #e6e9ef;
$light-color: #4c4f69;
$light-color-variant: black;
$light-color-secondary: #5c5f77;
$light-border-color: #1e66f5;
$light-table-color: #1e66f5;

/* Dark theme colors */
$dark-background: #1e1e2e;
$dark-background-secondary: #313244;
$dark-background-header: #181825;
$dark-color: #cdd6f4;
$dark-color-variant: white;
$dark-color-secondary: #bac2de;
$dark-border-color: #89b4fa;
$dark-table-color: #89b4fa;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;

